body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-image: url("../img/bg-01.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
}

h1 {
    color: #000;
}

.main-container {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.page {
    display: none;
}

.page.active {
    display: block;
}

button {
    height: 40px;
    border: 2px solid #000;
    width: 300px;
    background-color: #EFEDEC;
    color: #000;
    font-weight: 400;
    font-size: 20px;
    padding: 5px;
    border-radius: 20px;
    cursor: pointer;
    line-height: normal;
    font-family: 'Tuffy', Arial, sans-serif;
}

input[type="checkbox"] {
    width: 15px;
    height: 15px;
    appearance: none;
    appearance: none;
    background-color: white;
    border: 1px solid #000;
    border-radius: 4px;
    outline: none;
    vertical-align: middle;
    margin-right: 10px;
}

input[type="checkbox"]:checked {
    background-color: #000;
    border: 1px solid #000;
}

label {
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    font-family: Arial, sans-serif;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(100% - 50px);
}

input[type="checkbox"] + label {
    margin-bottom: 10px;
    display: block;
}

input:not([type="checkbox"]) {
    height:50px;
    border: 1px solid #000;
    width: 90%;
    background-color: #fff;
    color: #000;
    font-weight: normal;
    font-size: 20px;
    padding: 5px;
    border-radius: 20px;
    cursor: text;
    line-height: normal;
    font-family: 'Tuffy', Arial, sans-serif;
}

select {
    height: 50px;
    border: 1px solid #000000;
    width: 90%;
    background-color: #fff;
    color: #000;
    font-weight: 200;
    font-size: 20px;
    padding: 5px;
    border-radius: 20px;
    cursor: pointer;
    line-height: normal;
    font-family: 'Tuffy', Arial, sans-serif;
}